In [ ]:
# Python Operators

# Python has seven types of operators that we can use to perform different operation and produce a result.
# 1.	Arithmetic operator
# 2.	Relational operators
# 3.	Assignment operators
# 4.	Logical operators
# 5.	Membership operators
# 6.	Identity operators
# 7.	Bitwise operators

# Arithmatic Operater

In [43]:
a = 12.25
b = 56
print(a+b)

68.25

In [44]:
a = 90.00
h = 98
print(a-h)

-8.0

In [46]:
a = 10
b = 45
print(a*b)

450

In [50]:
a = 10
b = 4
print(a//b)

2

In [51]:
a = 20
b = 4
print(a % b)

0

In [54]:
# Exponent
a = 8
b = 3
print(b**a)
# 8*8*8

6561

In [7]:
# floor division
a = 10
b = 4
print(a // b)

2

# Assignment Operator

In [56]:
x = 12
x += 10
print(x)

22

In [57]:
x = 10
# x = x - 5
x -= 10
print(x)

0

In [58]:
x = 10
# x = 10 * 2
x *= 45
print(x)

450

In [60]:
x = 10
# x = x / 2
x //= 3
print(x)

3

In [61]:
x = 11
# x = x % 5
x %= 7
print(x)

4

In [13]:
x = 12
# x = x // 3
x //= 3
print(x)

4

# Relational (comparison) operators

In [ ]:
# Relational operators are also called comparison operators. 
# It performs a comparison between two values.
# It returns a boolean  True or False depending upon the result of the comparison.

In [1]:
# comparison operators

a = (56<78)
# a = (56>78)
# a = (56<=78)
# a = (56>=78)
# a = (56==78)
# a = (56!=78)
print(a)

True

# Logical operators

In [ ]:
# Logical operators are useful when checking a condition is true or not. Python has three logical operators. 
# All logical operator returns a boolean value True or False depending on the condition in which it is used.

In [ ]:
# there are 3 types of logical operators
# 1.AND
# 2.OR
# 3.NOT

In [ ]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

In [ ]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

In [ ]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

In [ ]:
# Python program to demonstrate
# logical and operator
 
a = 10
b = 12
c = 0
 
if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

In [ ]:
# Python program to demonstrate
# logical and operator
 
a = 10
b = 12
c = 0
 
if a or b or c:
    print("Atleast one number has boolean value as True")
else:
    print("All the numbers have boolean value as False")

# Identity Operators

is =  Returns True if both variables are the same object
is not = Returns True if both variables are not the same object

In [63]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x 

print(x is z)
print(x is y)
print(x != y)

True
False
False

In [64]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x == y)

False
True
True

# Membership Operators

in =  Returns True if a sequence with the specified value is present in the object
not in = Returns True if a sequence with the specified value is not present in the object

In [65]:
x = ["apple", "banana","pineapple"]

print("banana" in x)
print("pineapple" in x)

True
True

In [17]:
x = ["apple", "banana"]

print("pineapple" not in x)
print("banana" not in x)

True
False

# string method

In [18]:
a = "pathshala!"
print(a[0])
print(a[1])
print(a[-1])

p
a
!

In [66]:
a = "Hello, Pathshala!"
# print(len(a))
print(len(a))

17

In [68]:
a = "how are you??"
print('a' in a)
print('z' not in a)

True
True

In [71]:
a = "coding cloud"
print(a[0:2])
print(a[5:8])
print(a[:5])
print(a[0:])
print(a[0:5:3])
print(a[-4:-1])
print(a[::-1])

co
g c
codin
coding cloud
ci
lou
duolc gnidoc

In [22]:
a = "Coding Cloud!!"
print(a.upper())

CODING CLOUD!!

In [23]:
a = "Coding Cloud!!"
print(a.lower())

coding cloud!!

In [24]:
a = "CODING CLOUD!!"
print(a.isupper())

True

In [25]:
a = "COdiNG CLOUD!!"
print(a.isupper())

False

In [26]:
a = "coding cloud!!"
print(a.islower())

True

In [27]:
a = "Coding Cloud!!"
print(a.islower())

False

In [28]:
a = "Hello, How Are you."
print(a.replace("Hello","Hiiii"))

Hiiii, How Are you.

In [29]:
a = "Hello How Are you"
b = a.split(" ")
print(b)

['Hello', 'How', 'Are', 'you']

In [30]:
a = ("my","name","is", "helly")
b = "_"
print(" ".join(a))
print(b.join(a))

my name is helly
my_name_is_helly

In [31]:
a = "hello"
b = "are you"
print(a+" "+ "how" + " "+b)

hello how are you

In [32]:
name = "Dvs"
age = 23
# print("{},{}".format(arg1,arg2)
print("my name is {}, my age is {}.".format(name,age))
print(f"my name is {name},my age is {age}.")

my name is Dvs, my age is 23.
my name is Dvs,my age is 23.

In [33]:
a = "Divyesh"
b = "my name is " + a
print(b)

my name is Divyesh

In [34]:
a = "my name is \"helly\",i am student."
print(a)

my name is "helly",i am student.

In [35]:
a = "my name is \\ \"helly\" \\,i am student."
print(a)

my name is \ "helly" \,i am student.

In [36]:
a = "my name is  \"helly\" \ni am student."
print(a)

my name is  "helly"
i am student.

In [37]:
a = "my name is helly \ri am student."
#    i am student.
print(a)

i am student.

In [38]:
print(10>5)

True

In [39]:
print(10<5)

False

In [40]:
print(100 == 10)

False

In [41]:
print(sneha==)

SyntaxError: invalid syntax (1647535385.py, line 1)