In [ ]:
# Python Operators

# Python has seven types of operators that we can use to perform different operation and produce a result.
# 1.	Arithmetic operator
# 2.	Relational operators
# 3.	Assignment operators
# 4.	Logical operators
# 5.	Membership operators
# 6.	Identity operators
# 7.	Bitwise operators

# Arithmatic Operater

In [43]:
a = 12.25
b = 56
print(a+b)

68.25

In [44]:
a = 90.00
h = 98
print(a-h)

-8.0

In [46]:
a = 10
b = 45
print(a*b)

450

In [4]:
a =17
b = 4
print(a//b)

4

In [6]:
a = 16
b = 4
print(a % b)

0

In [9]:
# Exponent
# a = 2
# b = 3
print(8**9)
# 8*8*8

134217728

In [7]:
# floor division
a = 10
b = 4
print(a // b)

2

# Assignment Operator

In [11]:
x = 10
x += 10
print(x)

20

In [10]:
x = 10
# x = x - 5
x -= 5
print(x)

5

In [13]:
x = 10
# x = 10 * 2
x *= 50
print(x)

500

In [14]:
x = 10
# x = x / 2
x /= 3
print(x)

3.3333333333333335

In [15]:
x = 11
# x = x % 5
x %= 8
print(x)

3

In [13]:
x = 12
# x = x // 3
x //= 3
print(x)

4

# Relational (comparison) operators

In [ ]:
# Relational operators are also called comparison operators. 
# It performs a comparison between two values.
# It returns a boolean  True or False depending upon the result of the comparison.

In [20]:
# comparison operators

# a = (56<78)
# a = (56>78)
# a = (56<=78)
# a = (56>=78)
# a = (56!=78)
# a = (56!=78)
print(8<6)

False

# Logical operators

In [ ]:
# Logical operators are useful when checking a condition is true or not. Python has three logical operators. 
# All logical operator returns a boolean value True or False depending on the condition in which it is used.

In [ ]:
# there are 3 types of logical operators
# 1.AND
# 2.OR
# 3.NOT

In [22]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

False

In [25]:
x = 5

print(not(x < 3 and x < 10))

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [5]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

In [26]:
# Python program to demonstrate
# logical and operator
 
a = 10
b = 12
c = 0
 
if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

Atleast one number has boolean value as False

In [ ]:
# Python program to demonstrate
# logical and operator
 
a = 10
b = 12
c = 0
 
if a or b or c:
    print("Atleast one number has boolean value as True")
else:
    print("All the numbers have boolean value as False")

# Identity Operators

is =  Returns True if both variables are the same object
is not = Returns True if both variables are not the same object

In [27]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x 

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [28]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
False

# Membership Operators

in =  Returns True if a sequence with the specified value is present in the object
not in = Returns True if a sequence with the specified value is not present in the object

In [30]:
x = ["apple", "banana"]

print("banana"not in x)
print("pineapple" in x)

False
False

In [17]:
x = ["apple", "banana"]

print("pineapple" not in x)
print("banana" not in x)

True
False

# string method

In [1]:
a = "pathshala!"
print(len(a))
print(a[0])
print(a[1])
print(a[-1])

10
p
a
!

In [66]:
a = "Hello, Pathshala!"
# print(len(a))
print(len(a))

17

In [4]:
a = "how are you??"
print('are not' in a)
print('z' not in a)

False
True

In [9]:
a = "coding cloud"
# print(a[:5])
# print(a[5:8])
# print(a[:5])
# print(a[0:])
# print(a[0:5:2])
# print(a[-4:-1])
print(a[::-1])

duolc gnidoc

In [10]:
a = "hellow! world"
print(a.upper())

HELLOW! WORLD

In [23]:
a = "Coding Cloud!!"
print(a.lower())

coding cloud!!

In [12]:
a = "CODING CLOUD!!"
print(a.isupper())

True

In [25]:
a = "COdiNG CLOUD!!"
print(a.isupper())

False

In [26]:
a = "coding cloud!!"
print(a.islower())

True

In [27]:
a = "Coding Cloud!!"
print(a.islower())

False

In [13]:
a = "Hello, How Are you."
print(a.replace("How","you"))

Hello, you Are you.

In [14]:
a = "Hello How Are you! hey"
b = a.split(" ")
print(b)

['Hello', 'How', 'Are', 'you!', 'hey']

In [18]:
a = ("my","name","is", "helly")
b = "_"
print(" ".join(a))
print(b.join(a))

my name is helly
my,name,is,helly

In [31]:
a = "hello"
b = "are you"
print(a+" "+ "how" + " "+b)

hello how are you

In [20]:
name = "Dvs"
age = 23
# print("{},{}".format(arg1,arg2)
print("my name is {}, my age is {}.".format(name,age))
print(f"my name is {name},my age is {age}.")

my name is Dvs, my age is 23.
my name is Dvs,my age is 23.

In [33]:
a = "Divyesh"
b = "my name is " + a
print(b)

my name is Divyesh

In [21]:
a = "my name is \"helly\",i am student."
print(a)

my name is "helly",i am student.

In [35]:
a = "my name is \\ \"helly\" \\,i am student."
print(a)

my name is \ "helly" \,i am student.

In [36]:
a = "my name is  \"helly\" \ni am student."
print(a)

my name is  "helly"
i am student.

In [22]:
a = "my name is \ri am student."
#    i am student.
print(a)

i am student.

In [38]:
print(10>5)

True

In [39]:
print(10<5)

False

In [40]:
print(100 == 10)

False

In [41]:
print(sneha==)

SyntaxError: invalid syntax (1647535385.py, line 1)